@font-face{
    font-family: guilherme;
    src: url(../fontes/roboto/roboto-thin.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: guilherme, Arial, sans-serif;
	background-color: #1C1C1C;
}
/*BARRA DE ROLAGEM------------------------------------------------------------------*/
body::-webkit-scrollbar{
  width: 9px;
}
body::-webkit-scrollbar-track{
  background: rgba(0,0,0,0.1);
}

body::-webkit-scrollbar-thumb{
  background-color: #1E90FF;
  border-radius: 20px;
  border: 2px solid gray;
}

/*CABEÇA DA PÁGINA------------------------------------------------------------------*/
header{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
	position: fixed;
	top:0;
    z-index: 1;
}
header div img{
    height: 6vh;
}
#menu{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
#menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
#menu li{
    margin-left: 50px;
    margin-right: 50px;
    color: #1E90FF;
    vertical-align: middle;
}
#menu li a{
    text-decoration: none;
    display: flex;
    color: #1E90FF;
    align-items: center;
}
#carrinho{
    margin-right: 10px;
}
#menu a:hover{
    transform: scale(1.2);
}

/*CONTEÚDO DA PÁGINA-----------------------------------------------------------------*/
main{
    background-color: #363636;
	margin-top:10vh;
    padding-bottom: 10vh;
}

/*PRINCIPAL--------------------------------------------------------------------------*/
#principal{
	height: 60vh;
	overflow: hidden;
}

#principal img{
    width: 100%;
    margin-bottom: 100px;
}

/*EM CARTAZ---------------------------------------------------------------------------*/
#emcartaz{
    margin-top: 2rem;
    padding: 1rem;
	width:100%;
}
#emcartaz h1{
    color:white;
    margin-bottom:2.5rem;
}
.filmes{
    display: flex;
    justify-content: space-between;
}
.cartaz1{
    width: 16%;
    height: 45vh;
    overflow: hidden;
}
.cartaz2{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/filmes/deadpool.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}
.cartaz3{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/filmes/coringa.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition:0.5s;
}
.cartaz4{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/filmes/arlequina.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition:0.5s;
}
.cartaz5{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/filmes/WandaVision.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition:0.5s;
}
.cartaz6{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/filmes/homem-aranha.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition:0.5s;
}
.cartaz7{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/filmes/thor.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition:0.5s;
}

.cartaz1:hover .cartaz2{
    transform: scale(1.2);
}
.cartaz1:hover .cartaz3{
    transform: scale(1.2);
}
.cartaz1:hover .cartaz4{
    transform: scale(1.2);
}
.cartaz1:hover .cartaz5{
    transform: scale(1.2);
}
.cartaz1:hover .cartaz6{
    transform: scale(1.2);
}
.cartaz1:hover .cartaz7{
    transform: scale(1.2);
}

/*EM BREVE --------------------------------------------------------------------------*/
#embreve{
    width:100%;
    margin-top: 3rem;
    padding: 1rem;
}
#embreve h1{
    color: white;
    margin-bottom: 2.5rem;
	
}
.newfilmes{
    display: flex;
    justify-content: space-between;
}
.breve1{
    width: 16%;
    height: 45vh;
    overflow: hidden;
}
.breve2{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/embreve/o_lendario_cao_guerreiro.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}
.breve3{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/embreve/minions_2.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}
.breve4{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/embreve/a_fera.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    cursor:pointer;
}
.breve5{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/embreve/papai_e_pop.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}
.breve6{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/embreve/nao_nao_olhe.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}
.breve7{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/embreve/adao-negro-filme.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}

.breve1:hover .breve2{
    transform: scale(1.2);
}
.breve1:hover .breve3{
    transform: scale(1.2);
}
.breve1:hover .breve4{
    transform: scale(1.2);
}
.breve1:hover .breve5{
    transform: scale(1.2);
}
.breve1:hover .breve6{
    transform: scale(1.2);
}
.breve1:hover .breve7{
    transform: scale(1.2);
}

/*CINEMA-----------------------------------------------------------------------------*/
#cinema{
    width: 100%;
    height: 81vh;
    margin-top: 3rem;
    padding: 1rem;
}
#cinema h1{
    color: white;
    margin-bottom: 2.5rem;
}
.cinemageral{
    display: grid;
    width: 100%;
    height: 64vh;
	grid-template-columns: 50% 24% 24%;
	grid-template-rows: 50% 50%;
    grid-column-gap: 1%;
    grid-row-gap: 3%;
}
.primeiraparte{
    grid-row-start: 1;
	grid-row-end: 3;
    position: relative;
}
.primeiraparte a img{
    width: 100%;
    height: 100%;
}
.cinema1{
    position: relative;
}
.cinema1 img{
    width: 100%;
    height: 100%;
}

/*SHOP-------------------------------------------------------------------------------*/
#shop{
    background-color: rgba(36, 35, 35, 0.801);
    width:100%;
    margin-top: 3rem;
    padding: 1rem 1rem 1.5rem;
    box-shadow: 0 0 20px black;
}
#shop h1{
    color: white;
    margin-bottom: 2.5rem;
	
}
.shopamerica{
    display: flex;
    justify-content: space-between;
}
.shop1{
    width: 33%;
    height: 30vh;
    overflow: hidden;
    position: relative;
}
.shop2{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/shop/2em1a.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}
.shop3{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/shop/2em1b.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}
.shop4{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/shop/2em1c.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}
.shop1:hover .shop2{
    transform: scale(1.2);
}
.shop1:hover .shop3{
    transform: scale(1.2);
}
.shop1:hover .shop4{
    transform: scale(1.2);
}

.legenda{/*Legenda-----------------------------------------------------------------*/
    position: absolute;
    left: 3rem;
    bottom: 2rem;
    color: white;
    text-shadow: 0 0 8px black;
}

.propaganda{/*Porpaganda-------------------------------------------------------------*/
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 2rem;
}
.pro{
    width: 40%;
    height: 100%;
}
.pro img{
    width: 100%;
    height: 100%;
    max-height: 30vh;
}

iframe{/*Mapa------------------------------------------------------------------------*/
    margin-top: 10rem;
    width: 100%;
}

/*RODAPÉ DA PÁGINA-------------------------------------------------------------------*/
footer{
    background-color: #2E2E2E;
    padding: 5rem;
}
#rodape{
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-around;
}
.blocos123{
    width: 20%;
    height: 20vh;
}
#rodapesocial{
    display: flex;
    justify-content: start;
}
.blocos123 h3{
    margin-bottom: 2vh;
    color: white;
}
.socialicone{
    width: 3rem;
    height: 3rem;
    margin-right: 5px;
}
.socialicone img{
    width: 100%;
    height: 100%;
}
#rodapemenu{
    display: flex;
    flex-direction: column;
}
#rodapemenu a{
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #1E90FF;
}
#rodapelogo{
    text-align: center;
}
#rodapelogo figure{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#rodapelogo figcaption{
    color: white;
    font-size: 12px;
}
.partelogo{
    width: 23%;
    height: 10vh;
    margin-bottom: 10px;
}
.partelogo img{
    width: 100%;
    height: 100%;
}
#rodapesobre p{
    margin-bottom: 0.5rem;
    color: #1E90FF;
}