@font-face{
    font-family: guilherme;
    src: url(../fontes/roboto/roboto-thin.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BARRA DE ROLAGEM------------------------------------------------------------------*/
body{
    font-family: guilherme, Arial, sans-serif;
	background-color: #1C1C1C;
}
body::-webkit-scrollbar{
  width: 9px;
}
body::-webkit-scrollbar-track{
  background: rgba(0,0,0,0.1);
}

body::-webkit-scrollbar-thumb{
  background-color: #1E90FF;
  border-radius: 20px;
  border: 2px solid gray;
}
/*CABEÇA DA PÁGINA------------------------------------------------------------------*/
header{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
	position: fixed;
	top:0;
    z-index: 1;
}
header div img{
    height: 6vh;
}
#menu{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
#menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
#menu li{
    margin-left: 50px;
    margin-right: 50px;
    color: #1E90FF;
    vertical-align: middle;
}
#menu li a{
    text-decoration: none;
    display: flex;
    color: #1E90FF;
    align-items: center;
}
#carrinho{
    margin-right: 10px;
}
#menu a:hover{
    transform: scale(1.2);
}

/*CONTEÚDO DA PÁGINA----------------------------------------------------------------*/
main{
    background-color: #363636;
    width: 100%;
	margin-top:10vh;
    padding: 0 0 10vh;
}
#imagemprincipal{/*IMAGEM PRINCIPAL-------------------------------------------------*/
    height: 50vh;
    overflow: hidden;
    margin-bottom: 3rem;
}
#imagemprincipal img{
    width: 100%;
    height: 100%;
}

.shop{/*SHOP------------------------------------------------------*/
    width: 100%;
    padding: 3rem;
}
.titulo{
    color: white;
    margin: 2rem 0;
}
.blocogeral{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.blocoderoupas{
    width: 18%;
    height: 42vh;
}
.roupas{
    width: 100%;
    height: 85%;
    overflow: hidden;
}
.roupas img{
    width: 100%;
    height: 100%;
}
.comprar{
    width: 100%;
    min-height: 15%;
    margin-top: 1rem;
    border: 2px solid #1E90FF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E90FF;
    
}
.comprar:hover{
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
}

.propaganda{/*Porpaganda-------------------------------------------------------------*/
    width: 100%;
    display: flex;
    justify-content: center;
}
.pro{
    width: 40%;
    height: 100%;
}
.pro img{
    width: 100%;
    height: 100%;
    max-height: 30vh;
}

/*RODAPÉ DA PÁGINA-------------------------------------------------------------------*/
footer{
    background-color: #2E2E2E;
    padding: 5rem;
}
#rodape{
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-around;
}
.blocos123{
    width: 20%;
    height: 20vh;
}
#rodapesocial{
    display: flex;
    justify-content: start;
}
.blocos123 h3{
    margin-bottom: 2vh;
    color: white;
}
.socialicone{
    width: 3rem;
    height: 3rem;
    margin-right: 5px;
}
.socialicone img{
    width: 100%;
    height: 100%;
}
#rodapemenu{
    display: flex;
    flex-direction: column;
}
#rodapemenu a{
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #1E90FF;
}
#rodapelogo{
    text-align: center;
}
#rodapelogo figure{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#rodapelogo figcaption{
    color: white;
    font-size: 12px;
}
.partelogo{
    width: 23%;
    height: 10vh;
    margin-bottom: 10px;
}
.partelogo img{
    width: 100%;
    height: 100%;
}
.partelogo img{
    width: 100%;
    height: 100%;
}
#rodapesobre p{
    margin-bottom: 0.5rem;
    color: #1E90FF;
}